In [25]:
import pandas as pd

df = pd.read_excel("POLA_SUOMOTO_with_data.xlsx")

df['Request ID']

0      SCGC2001010005233
1      SCGC2001010015871
2      SCGC2001010072001
3      SCGC2001010088944
4      SCGC2001010091344
             ...
664    SCGC2005012894908
665    SCGC2008015065389
666    SCGC2010016601718
667    SCGC2010016764988
668    SCGC2004012489364
Name: Request ID, Length: 669, dtype: object

In [26]:
df.iloc[200]

S.No                                        201
Request ID                    SCGC2004012518651
Citizen Name          Viswanadhapalli Joji Babu
Relative name                               NaN
caste                                      BC-A
REMARKS                                     NaN
Phone Number                                NaN
Ration Card Number                          NaN
Name: 200, dtype: object

In [24]:
df[df['Request ID'] == "SCGC2012017754937"]

     S.No         Request ID     Citizen Name  Relative name  caste   REMARKS
653   654  SCGC2012017754937  Gadi Vijayarani             NaN   BC-A      NaN

In [22]:
df.shape

(669, 6)

In [30]:
df['Ration Card Number'].isna().count()

669

In [33]:

# Load request IDs from Excel with default header
excel_path = 'POLA_SUOMOTO_with_data.xlsx'
df = pd.read_excel(excel_path)

# Filter request IDs: start from index 115, only those with empty Ration Card Number
request_ids = df.loc[115:, 'Request ID'][df.loc[115:, 'Ration Card Number'].isna() | (df.loc[115:, 'Ration Card Number'] == '')]
request_ids = [rid for rid in request_ids if str(rid).lower() != 'na' and 'bank' not in str(rid).lower()]
len(request_ids)

517

In [41]:
df = pd.read_excel('/Users/ey/Documents/Rahet_work/31_Aug/POLA_SUOMOTO_with_data_2.xlsx')

In [42]:
df2 = pd.read_excel('/Users/ey/Documents/Rahet_work/31_Aug/POLA_SUOMOTO_with_data_3.xlsx')

In [43]:
ff = pd.concat([df,df2]).dropna(subset=
                        ['Ration Card Number']) #.to_excel("476_records.xlsx", index= False)

In [49]:
# ff

In [53]:
df = pd.read_excel('/Users/ey/Documents/Rahet_work/31_Aug/POLA SUOMOTO.xlsx')

In [58]:
df

,S.No,Request ID,Citizen Name,Relative name,caste,REMARKS
0,1,SCGC2001010005233,Moka Jayalakshmi,NaN,BC-A,NaN
1,2,SCGC2001010015871,Sunnapudi Sivaiah,NaN,BC-A,NaN
2,3,SCGC2001010072001,Kopanathi Rajesh,NaN,BC-A,NaN
3,4,SCGC2001010088944,Moka Durga,NaN,BC-A,NaN
4,5,SCGC2001010091344,MOKA MANGAMMA,NaN,BC-A,NaN
...,...,...,...,...,...,...
664,665,SCGC2005012894908,MOKA GOPIRAJU,NaN,BC-A,NaN
665,666,SCGC2008015065389,Moka Basavayya,NaN,BC-A,NaN
666,667,SCGC2010016601718,Moka Hemalatha,NaN,BC-A,NaN
667,668,SCGC2010016764988,Moka Reddaiah,NaN,BC-A,NaN
668,669,SCGC2004012489364,GADI SRINIVASARAO,NaN,BC-A,NaN

In [57]:
count = 0
for rew in df['Request ID']:
    if rew  in ff['Request ID']:
        count += 1
        
count

0

In [ ]:
files = '''/Users/ey/Documents/Rahet_work/31_Aug/POLA_SUOMOTO_with_data_2.xlsx
/Users/ey/Documents/Rahet_work/31_Aug/POLA_SUOMOTO_with_data_3.xlsx'''.split("\n")


data = pd.DataFrame()
for file in files:
    df = pd.read_excel(file)