In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Data_oct_4.xlsx")

In [5]:
df.to_csv("Data_oct_4.csv",index = False)

In [6]:
df

,S.No,Request ID,Citizen Name,rice card no,cluster,Phone Number,Ration Card Number
0,1,SCGC2010016583419,Vanamadi Govindu,NaN,NaN,NaN,2801109622
1,2,SCGC2010016597680,MOKA CHANDAMMA,NaN,NaN,NaN,2805949128
2,3,SCGC2010016601350,Moka Vamsi,NaN,NaN,9.010995e+09,2801597998
3,4,SCGC2010016603001,Vanamaadi Deepika,NaN,NaN,9.951718e+09,2821868411
4,5,SCGC2010016621987,Sunnapudi Govindu,NaN,NaN,9.000425e+09,2814372689
...,...,...,...,...,...,...,...
115,116,SCGC2102010990146,Moka Sattemma,NaN,NaN,9.553288e+09,-
116,117,SCGC2102010991193,Nagasuseela,NaN,NaN,9.505601e+09,-
117,118,SCGC2102011332786,Moka Venkateswararao,NaN,NaN,6.301801e+09,-
118,119,SCGC2103011448059,Moka Edukondalu,NaN,NaN,9.154517e+09,-
119,120,SCGC2103011701937,SUNNAPUDI LAKSHMI,NaN,NaN,7.997883e+09,-