In [25]:
import pandas as pd

df = pd.read_excel("POLA_SUOMOTO_with_data.xlsx")

df['Request ID']

0      SCGC2001010005233
1      SCGC2001010015871
2      SCGC2001010072001
3      SCGC2001010088944
4      SCGC2001010091344
             ...
664    SCGC2005012894908
665    SCGC2008015065389
666    SCGC2010016601718
667    SCGC2010016764988
668    SCGC2004012489364
Name: Request ID, Length: 669, dtype: object

In [26]:
df.iloc[200]

S.No                                        201
Request ID                    SCGC2004012518651
Citizen Name          Viswanadhapalli Joji Babu
Relative name                               NaN
caste                                      BC-A
REMARKS                                     NaN
Phone Number                                NaN
Ration Card Number                          NaN
Name: 200, dtype: object

In [24]:
df[df['Request ID'] == "SCGC2012017754937"]

     S.No         Request ID     Citizen Name  Relative name  caste   REMARKS
653   654  SCGC2012017754937  Gadi Vijayarani             NaN   BC-A      NaN

In [22]:
df.shape

(669, 6)

In [30]:
df['Ration Card Number'].isna().count()

669

In [33]:

# Load request IDs from Excel with default header
excel_path = 'POLA_SUOMOTO_with_data.xlsx'
df = pd.read_excel(excel_path)

# Filter request IDs: start from index 115, only those with empty Ration Card Number
request_ids = df.loc[115:, 'Request ID'][df.loc[115:, 'Ration Card Number'].isna() | (df.loc[115:, 'Ration Card Number'] == '')]
request_ids = [rid for rid in request_ids if str(rid).lower() != 'na' and 'bank' not in str(rid).lower()]
len(request_ids)

517

In [41]:
df = pd.read_excel('/Users/ey/Documents/Rahet_work/31_Aug/POLA_SUOMOTO_with_data_2.xlsx')

In [42]:
df2 = pd.read_excel('/Users/ey/Documents/Rahet_work/31_Aug/POLA_SUOMOTO_with_data_3.xlsx')

In [60]:
df3 = pd.read_excel('/Users/ey/Documents/Rahet_work/31_Aug/combined_no_blank_duplicates.xlsx')

In [61]:
ff = pd.concat([df,df2,df3]).dropna(subset=
                        ['Ration Card Number']) #.to_excel("476_records.xlsx", index= False)

In [85]:
ff = ff[['S.No', 'Request ID', 'Citizen Name','Phone Number', 'Ration Card Number', 'Relative name ', 'caste ',
       'REMARKS']]

In [87]:
ff = ff.sort_values('S.No')

In [92]:
ff.to_excel("550_records_final_delivery.xlsx", index= False)

In [59]:
df = pd.read_excel('/Users/ey/Documents/Rahet_work/31_Aug/POLA SUOMOTO.xlsx')

In [82]:
df['Request ID'].nunique()

669

In [81]:
ff['Ration Card Number'].value_counts()

No number found    34
2815268710.0        5
2821860137.0        5
2821868411.0        5
2804708222.0        4
                   ..
2821984552          1
2817800660          1
2803787900          1
2805633451          1
2822095568          1
Name: Ration Card Number, Length: 287, dtype: int64

In [76]:
count

669

In [57]:
count = 0
for rew in df['Request ID']:
    if rew  in ff['Request ID']:
        count += 1
        
count

0

In [ ]:
files = '''/Users/ey/Documents/Rahet_work/31_Aug/POLA_SUOMOTO_with_data_2.xlsx
/Users/ey/Documents/Rahet_work/31_Aug/POLA_SUOMOTO_with_data_3.xlsx'''.split("\n")


data = pd.DataFrame()
for file in files:
    df = pd.read_excel(file)